{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Intool</h1>
</div>
<p class="lead">Automated project initialization, notification, and connection tool</p>
<p>
  Intool was created to tackle the issue of "How to successfully create a project framework for any module". By using this tool in conjuntion
  with specifications from you lecturers, you will be more able to navigate the complex waters of college assignments.
</p>
<p>
  Through an easy-to-follow menu, Intool will lead you through the project creation process, and will leave you with all of the 
  necessary tools and features that will aid you in creating a successful project.
</p>

{% endblock %}
