{% extends 'main.html' %}
{% block title %}Tutorial{% endblock %}
{% block content %}
<main id="content" role="main" class="container"></main>
    <div>
        <p>
        <h1>
            How to use this app 
        </h1>
        <br>
        </p>
        <h3>
        You might be asking yourself, "Okay, this seems like a good tool to use as a new CS student, but how do I use it?"
        </h3>
        <br>
        <h4>
        Totally understandable, and as a new CS student, there are terms, tools, and technologies that are new to you.
        </h4>
        <br>
        <h4>
        Here is a list of items to start with, get familiar with, and use to your advantage.
        </h4>
        <br>
        <ul>
        <li>
            First is git and Github. In the Tutorial Page, there are a number of links to help become more familiar with both.
        </li>
        <br>
        <li>
            Second, have a look at the tools that this app has you initialize and implement.
            <ul>
                <br>
            <li>
                <a href="https://docs.sonarqube.org/latest/setup/get-started-2-minutes/" target="_blank" rel="noopener noreferrer">Sonarqube</a>                      
            </li>
            <br>
            <li>
                <a href="https://docs.travis-ci.com/user/for-beginners/" target="_blank" rel="noopener noreferrer">Travis-CI doc for beginners</a>
            </li>
            <br>
            </ul>
        </li>
        <li>
            Third, because you're CS students, knowing the difference between proprietary and open-source is vital. Some questions to ask yourself -
            <ul>
                <br>
            <li>
                What operating system am I using? Is it Microsoft Windows? Is it a Linux distro like Fedora or Ubuntu? Is it a Mac and using MacOS?
            </li>
            <br>
            <li>
                What is the difference between the OS's above? The companies that developed them?
            </li>
            <br>
            </ul>
            These are important questions to answer and can affect your choices of what operating system you would like to use and why.
        </li>
        <br>
        <li>
            Finally, this app was created as an open-source tool, and therefore, you can look at the <a href="https://github.com/james02135/Tooling-Project" target="_blank" rel="noopener noreferrer">Source Code</a> and see how it was developed. 
        </li>
        <br>
        </ul>
        <h4>
            Good luck with your development! 
        </h4>
        <br>
        <h4>
            - James Richardson
        </h4>
    </div>
  </main>
  {% endblock %}