{% extends 'form.html' %}
{% block title %}New Profile Menu{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">New Profile Menu <a href="{{ url_for('main.home') }}" title="Back to homepage"><em class="fa fa-home pull-right"></em></a></h3>
    <div>
        <h2>Follow the steps below to create a new profile</h2>
    </div>
    <div>
        <ul>
            <li>
                Have you created an account on GitHub?
            </li>
            <li>
                If not, please do so prior to creating a profile.
            </li>
        </ul>
    </div>
    {{ form.github_username(class_ = 'form-control first-input id="github_username"', placeholder = form.github_username.label.text, required = true, autofocus = true) }}
    <input type="submit" value="Create" class="btn btn-primary disabled btn-lg btn-block">
  </form>
{% endblock %}