{% extends 'form.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Register <a href="{{ url_for('main.home') }}" title="Back to homepage"><em class="fa fa-home pull-right"></em></a></h3>
    {{ form.name(class_ = 'form-control first-input id="name"', placeholder = form.name.label.text, required = true, autofocus = true) }}
    {{ form.ID(class_ = 'form-control id="ID"', placeholder = form.ID.label.text, required = true) }}
    {{ form.email(class_ = 'form-control id="email"', placeholder = form.email.label.text, required = true) }}
    {{ form.password(class_ = 'form-control id="password"', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control last-input id="confirm"', placeholder = form.confirm.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('auth.login') }}">Login</a></p>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
