{% extends 'main.html' %}
{% block title %}Tutorial{% endblock %}
{% block content %}

<!-- Begin page content -->
<main id="content" role="main" class="container">
  <div>
      <p>
          <h1>
              Tutorials
          </h1>
      </p>
      <h3>
          Here are a few walkthroughs to help your setup
      </h3>
      <br>
      <ul>
          <li>
            <a href="https://docs.github.com/en/github/getting-started-with-github/signing-up-for-a-new-github-account" target="_blank" rel="noopener noreferrer">Signup for a new GitHub account</a>
          </li>
          <br>
          <li>
            <a href="https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token" target="_blank" rel="noopener noreferrer">Creating a Personal Access token</a>
            (You will need the token to allow the app to create a new repository)
          </li>
          <br>
          <li>
            <a href="https://medium.com/@jamricha/the-journey-from-there-to-here-c34275134dcd" target="_blank" rel="noopener noreferrer">My Blog about using git and GitHub as a beginner</a>
            (If nothing else, read this series as a way to understand what git and GitHub are all about)
          </li>
          <br>
          <li>
            <a href="https://github.com/feedhenry/git-tutorial" target="_blank" rel="noopener noreferrer">Really good git tutorial</a>
          </li>
          <br>
          <li>
            <a href="{{ url_for('main.how') }}">How to use this app properly</a>
          </li>
      </ul>
  </div> 
</main>
{% endblock %}
